/* I used the following resource for inspiration on "Neumorphic" design:
    https://uxplanet.org/neumorphism-in-user-interface-tutorial-c353698ac5c0 */

* {
    background-color: #E0E5EC;
}

form {
    display: grid;
    grid-template-columns: 40px 130px 80px 100px;
    grid-template-rows: 20px 20px 3fr 1fr;
    grid-template-areas:
    "date-label date zip-code-label zip-code"
    "user-thoughts user-thoughts . ."
    "user-input user-input user-input user-input"
    ". . . submit";
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin: fill;

}

input, textarea, button {
    box-shadow: -9px -9px 16px -5px #FFFFFF, 9px 9px 16px -5px #A3B1C6;
}

input {
    text-align: right;
}

label, button {
    font-family: Arial, sans-serif;
    font-weight: 300;
    color: dimgrey;
}

textarea {
    border: dimgrey;
}

#date-label {
    grid-area: date-label;
}

.date {
    grid-area: date;
}

#zip-code-label {
    grid-area: zip-code-label;
}

.zip-code {
    grid-area: zip-code;
}

#user-thoughts {
    grid-area: user-thoughts;
}

#user-input {
    grid-area: user-input;
}

#submit-button {
    grid-area: submit;
}

#data {
    grid-area: data;
}
